<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= livro.categoria %>
  </p>

  <p>
    <strong>Data cad:</strong>
    <%= livro.data_cad %>
  </p>

  <p>
    <strong>Data alte:</strong>
    <%= livro.data_alte %>
  </p>

</div>
